**/*.tfstate
bin/fly*
bin/terraform*
.idea/
.vscode/
platform-tests/pkg
platform-tests/src/results
terraform/.terraform/
org_usage.csv
*.csv
node_modules
.next
out
.DS_Store
.mdx-data
public/assets/styles
public/assets/javascript
