.masthead {
  background-color: $govuk-brand-colour;
  margin-top: -11px;
}
.masthead__content {
  @extend .govuk-width-container;
  padding-top: govuk-spacing(2);
}

.masthead__title {
  color: govuk-colour("white");
  @include govuk-responsive-margin(6, "bottom");
}

.masthead__inline-image {
  text-align: center;
  @include govuk-media-query(tablet) {
    display: none;
    visibility: hidden;
  }
  img {
    width: 100%;
    max-width: 320px;
  }
}

.masthead__description {
  @include govuk-font(24);
  color: govuk-colour("white");
  margin-bottom: 0;
}

.masthead__aside {
  display: none;
  visibility: hidden;

    @include govuk-media-query(tablet) {
    display: block;
    visibility: visible;
  }

  img {
    max-width: 100%;
    margin-top: govuk-spacing(3);
  }
}
.masthead__breadcrumbs {
  color: govuk-colour('white');
  border-bottom: 1px solid rgba(govuk-colour("white"), .25);
  padding-bottom: govuk-spacing(2);
  margin-top: 0;
  margin-bottom: govuk-spacing(5);

  .govuk-breadcrumbs__list-item{
    &:before {
      border-color: govuk-colour('white');
    }

    &[aria-current=page]{
      font-weight: 700;
      color: govuk-colour('white');
    }
  }

  .govuk-breadcrumbs__link {
    color: govuk-colour('white');

    &:hover,
    &:active {
      color: govuk-colour('white');
    }

    &:focus {
      color:  $govuk-text-colour;
    }
  }
}

$button-shadow-size: $govuk-border-width-form-element;
$hero-button-background-colour: govuk-colour("white");
$hero-button-foreground-colour: govuk-colour("blue");
$hero-button-shadow-colour: govuk-shade($hero-button-foreground-colour, 30%);
$hero-button-hover-background-colour: govuk-tint($hero-button-foreground-colour, 90%);

.masthead__button,
.masthead__button:link,
.masthead__button:visited {
  color: $hero-button-foreground-colour;
  background-color: $hero-button-background-colour;
  box-shadow: 0 $button-shadow-size 0 $hero-button-shadow-colour;
}

.masthead__button:hover {
  color: $hero-button-foreground-colour;
  background-color: $hero-button-hover-background-colour;
}

.masthead__button:focus:not(:hover) {
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
}

.masthead__button:active,
.masthead__button:focus {
  border-color: $govuk-focus-colour;
  color: $hero-button-foreground-colour;
  background-color: $hero-button-hover-background-colour;
  box-shadow: inset 0 0 0 2px $govuk-focus-colour;
}