.section-navigation {
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(7);
    padding-bottom: govuk-spacing(7);
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @include govuk-font($size: 16);

    border-bottom: 1px $govuk-border-colour solid;
    display: block;
    padding: govuk-spacing(2) 0;

    a:link {
      @include govuk-link-common;
      @include govuk-link-style-default;
      @include govuk-link-style-no-underline;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__item--active {
    @include govuk-font($size: 16, $weight: bold);

    a:link,
    a:visited {
      color: $govuk-text-colour;
    }
  }
}
