$govuk-global-styles: true;
$govuk-assets-path: '/assets/';

// values from GOV.UK Frontend with the added wide desktop breakpoint for the header navigation
$govuk-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 769px,
  wideDesktop: 960px
);

@import "~govuk-frontend/govuk/base";

@import "~govuk-frontend/govuk/core/all";
@import "~govuk-frontend/govuk/objects/all";
@import "~govuk-frontend/govuk/components/breadcrumbs/index";
@import "~govuk-frontend/govuk/components/button/index";
@import "~govuk-frontend/govuk/components/footer/index";
@import "~govuk-frontend/govuk/components/header/index";
@import "~govuk-frontend/govuk/components/inset-text/index";
@import "~govuk-frontend/govuk/components/radios/index";
@import "~govuk-frontend/govuk/components/skip-link/index";
@import "~govuk-frontend/govuk/components/table/index";
@import "~govuk-frontend/govuk/utilities/all";
@import "~govuk-frontend/govuk/overrides/all";
@import "section-navigation";
@import "masthead";


// we only want to style content elements that don't have "govuk" classnames
// so we don't affect component styles

@include govuk-not-ie8 {
  $notGOVUKClass: 'not([class^='govuk'])';

  h1:#{$notGOVUKClass} {
    @extend .govuk-heading-xl;
  }

  h2:#{$notGOVUKClass} {
    @extend .govuk-heading-l;
  }

  h3:#{$notGOVUKClass} {
    @extend .govuk-heading-m;
  }

  h4:#{$notGOVUKClass} {
    @extend .govuk-heading-s;
  }

  ol:#{$notGOVUKClass},
  ul:#{$notGOVUKClass} {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }
}

img {
  display: block;
  width:100%;
  max-width: 100%;
}

// PaaS spelled-out is a long name that GOV.UK Frontend doesn't account for
// in the header logo + product name 33.33% width, so then name drops below the crown.
//
// To have the name always by the side of the crown and fit in the navaigation we need
// to make styling tweaks below from tablet breakpoint and up

@include govuk-media-query($from: tablet) {

  .govuk-header__logo {
    width: auto;
    @include govuk-if-ie8 {
      img {
        display: inline-block;
        max-width: inherit;
      }
    }
  }

  .govuk-header__content {
    width: auto;
    padding-left: 0;
  }

  @include govuk-if-ie8 {
    .govuk-header__logotype-crown-fallback-image {
      display: inline-block;
      max-width: auto;
    }
  }
}

@include govuk-media-query($from: wideDesktop) {
  .govuk-header__content {
    float: right;
  }
}

// heading anchor link styles
h2,
h3,
h4 {
  position: relative;
}

h2 > a,
h3 > a,
h4 > a  {
  position: absolute;
  display: none;
  left: -.75em;
  width: .75em;

  &:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-text-colour;
    text-decoration: none;
  }
  .icon-link {
    width: 16px;
    height: 16px;
  }
  .icon-link:after {
    content: '#';
    color: $govuk-text-colour;
  }
}

h2:hover > a,
h3:hover > a,
h4:hover > a  {
  display: block;
}

blockquote {
  @extend .govuk-inset-text;
}

// scrollable table on mobile
.scrollable-table-container {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
