$govuk-global-styles: true;
$govuk-assets-path: '/assets/';
@import "govuk-frontend/govuk/all";

// we only want to style content elements that don't have "govuk" classnames
// so we don't affect component styles
$notGOVUKClass: 'not([class^='govuk'])';

h1:#{$notGOVUKClass} {
  @extend .govuk-heading-xl;
}

h2:#{$notGOVUKClass} {
  @extend .govuk-heading-l;
}

h3:#{$notGOVUKClass} {
  @extend .govuk-heading-m;
}

h4:#{$notGOVUKClass} {
  @extend .govuk-heading-s;
}

ol:#{$notGOVUKClass},
ul:#{$notGOVUKClass} {
  @extend .govuk-list;
  @extend .govuk-list--bullet;
}
